body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000; /* Preto mais escuro */
  color: #ffffff;
}

header {
  background-color: #0a0a0a; /* Preto escuro */
  padding: 20px;
  border-bottom: 2px solid #d4af37;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

header h1 {
  color: #d4af37;
  font-size: 2rem;
  text-align: center;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.produto {
  background-color: #111;
  border: 1px solid #333;
  padding: 15px;
  width: 250px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.produto:hover {
  transform: scale(1.05);
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.produto h2 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.produto .preco {
  color: #d4af37;
  font-weight: bold;
  font-size: 1.2rem;
}

.produto button {
  background-color: #d4af37;
  border: none;
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.produto button:hover {
  background-color: #fff;
  color: #000;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #0a0a0a;
  border-top: 2px solid #d4af37;
  font-size: 0.9rem;
}

/* Botão WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #25D366;
  color: #fff;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  z-index: 1000;
}

.whatsapp-button img {
  width: 30px;
  margin-right: 10px;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

/* Responsividade */
@media (max-width: 768px) {
  .produtos-container {
    justify-content: center;
  }

  .produto {
    width: 80%;
  }

  .topo {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .produto {
    width: 90%;
    margin-bottom: 20px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .logo {
    width: 60px;
  }

  .whatsapp-button {
    bottom: 10px;
    left: 10px;
    padding: 12px;
    font-size: 14px;
  }

  .whatsapp-button img {
    width: 24px;
  }
}
